# 全局配置
DEBUG=false

# nebula服务配置
NEBULA_HOST=127.0.0.1
NEBULA_PORT=9669
NEBULA_USERNAME=root
NEBULA_PASSWORD=nebula
BUSINESSES=genshin

# rabbitMQ服务配置
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE_NEBULA=nebula_operations
RABBITMQ_QUEUE_MONGO=mongo_operations

# crawler服务配置
CRAWLER_DEBUG=false
CRAWLER_COOKIES=
CRAWLER_HEADERS=
CRAWLER_TIME_SLEEP=3
CRAWLER_MAX_RETRIES=15

# web服务配置
WEB_DEBUG=false
WEB_NAME=Web Service
WEB_VERSION=1.0

# worker服务配置
WORKER_DEBUG=false