# 全局配置
DEBUG=false

# nebula配置
NEBULA_HOST=host.docker.internal
NEBULA_PORT=9669
NEBULA_USERNAME=root
NEBULA_PASSWORD=nebula
BUSINESSES=genshin

# rabbitMQ配置
RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=必填
RABBITMQ_QUEUE_NEBULA=nebula_operations
RABBITMQ_QUEUE_MONGO=mongo_operations

# crawler服务配置
CRAWLER_DEBUG=false
CRAWLER_COOKIES={"SESSDATA":"必填"}
CRAWLER_HEADERS={"User-Agent":必填"}
CRAWLER_TIME_SLEEP=3
CRAWLER_MAX_RETRIES=15

# web服务配置
WEB_DEBUG=false
WEB_NAME=Web Service
WEB_VERSION=1.0

# worker服务配置
WORKER_DEBUG=false